<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="../assest/css/Style.css">
  <title>Property Selling & Rent </title>
</head>
<body>
  <div>
    <nav class="
          navbar navbar-expand-lg navbar-light
          bg-light
        ">
      <div class="container-fluid" id="na">
        <a class="navbar-brand" href="#"><img src="../assest/image/logo.png" style="height:50px" alt="">

          Smart Property Protal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Tool</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Helps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./register.html"><button type="button" class="btn btn-primary">
                  Register
                </button></a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-secondary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <h2 style="text-align:center">Our Team</h2>
    <div class="d-flex gap-0">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assest/image/team/IMG_20231209_024202.jpg" alt="Card image cap">
        <div class="card-body">
          <h2>Ankit Mishra</h2>
            <h5 class="card-title">I am Student in ABES Engineering College in Ghaziabad</h5>
            <p class="card-text">ankitmishra424@gmail.com</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assest/image/team/IMG_20231209_024202.jpg" alt="Card image cap">
        <div class="card-body">
          <h2>Ankit Mishra</h2>
            <h5 class="card-title">I am Student in ABES Engineering College in Ghaziabad</h5>
            <p class="card-text">ankitmishra424@gmail.com</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assest/image/team/IMG_20231209_024202.jpg" alt="Card image cap">
        <div class="card-body">
          <h2>Ankit Mishra</h2>
            <h5 class="card-title">I am Student in ABES Engineering College in Ghaziabad</h5>
            <p class="card-text">ankitmishra424@gmail.com</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assest/image/team/IMG_20231209_024202.jpg" alt="Card image cap">
        <div class="card-body">
          <h2>Ankit Mishra</h2>
            <h5 class="card-title">I am Student in ABES Engineering College in Ghaziabad</h5>
            <p class="card-text">ankitmishra424@gmail.com</p>
        </div>
      </div>
    </div>

    <footer style="background-color: orangered">
      <div class="container p-4 pb-0">
        <section class="mb-4"></section>
      </div>

      <div class="text-center p-3" style="background-color: orangered">
        © 2021 Copyright:
        <a class="text-white" href="#">Smart Property Portal</a>
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

</body>

</html>